html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background:white;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content:has(.onboarding-page),
.main-content:has(.login-page),
.main-content:has(.sign-up-page) {
  padding: 0;
  align-items: stretch;
}
