html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 130px 0px 76px 0px;
}

.main-content:has(.onboarding-page) {
  padding: 0;
}

.main-content:has(.login-page) {
  padding: 0;
}

.main-content:has(.sign-up-page) {
  padding: 0;
}
