.film-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* Keeps it square */
    border: 2px solid black;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .film-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(253, 0, 0, 0.3);
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transform: scale(0.9);
  transition: opacity 0.3s ease;
}

.film-card:hover .film-poster {
  opacity: 0.8;
}
  
  .film-identifier {
    position: absolute;
    bottom: 40%;
    width: 100%;
    padding: 8px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none; /* allow clicking through the text */
  }

  .rating-graph {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

  .film-card-inner {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* Keeps it square */
    overflow: hidden;
  }
  
  .new-badge {
  position: absolute;
  bottom: 5px;
  left: 0px;

  background-color: #E95A5A;
  color: white;

  padding: 6px 14px;
  border-radius: 999px;

  z-index: 10;
  pointer-events: none;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
