.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.film-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  